@import '../../constants/sass/functions';

.NavBar {
  @include dimension(100%, 60px);
  background-color: #000;
  border-top: 1px solid #444;
  @include row;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  @include boxShadow(0 -2px 5px rgba(0, 0, 0, 0.1));
  max-width: 600px;
  margin: 0 auto;
  margin-top: -40px;
  z-index: 10000000000;
}

@media screen and (min-width: 600px) {
  .NavBar {
    @include borderRadius(20px 20px 0 0);
    border-top: 1px solid #444;
    border-left: 1px solid #444;
    border-right: 1px solid #444;
  }
}
